[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-registration = "*"
django-registration-redux = "*"
djangorestframework = "*"
cloudinary = "*"
python-decouple = "*"
django-bootstrap4 = "*"
psycopg2 = "*"
django = "==3.2"
whitenoise = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
