:root{
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#868e96;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#868e96;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
  --breakpoint-xs:0;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
}

.nav_pic{
  height: 36px;
  width: 36px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#collapse{
  cursor: pointer;
  border-radius: 2px;
}

#collapse:hover{
  background-color: #F5F5;
}


@media screen and (min-width: 992px) {
    #navbarSupportedContent{
      margin-left: 25%;
    }
    .dropdown_divider{
      height: 2px;
      width: auto;
      background-color: white;
    }

    .nav_wrap {
      position: absolute;
      right: 0;
      top: 0;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      padding-right: 5%;
      padding-left: 1%;
      padding-top: 1rem;
      padding-bottom: 1.2rem;
      gap: 14px;
      z-index: 999;
    }

    .dropdown_menu{
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      background-color: #7289DA;
      gap: 14px;
      display: none;
      position: absolute;
      right: 0;
      top: 70px;
      z-index: 999;
      width: max-content;
      padding: 1rem 2rem;
    }

}
