@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
  font-size: 18px;
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.card{
    background-color: #7289DA;
    margin: 7vh 0;
}

.p-image{
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row:nth-child(1){
    padding: 2vh 0;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border : 1px solid greenyellow;
}